
<div class="consulta">
  <h1>Realize a consulta:</h1>
</div>
<div class="container-externa">


  <div class="barra-pesquisa">
    <div class="informacoes">
      <div class="input-wrapper">
        <label for="matricula">Matrícula:</label>

        <input type="text" id="matricula">
        <div class="separator"></div>

          <label for="serie">Série:</label>


          <select id="serie">
            <option value="1">2ª Ano</option>
            <option value="2">3ª Ano</option>
            <option value="3">4ª Ano</option>
            <option value="4">5ª Ano</option>
            <option value="5">6ª Ano</option>
            <option value="6">7ª Ano</option>
            <option value="7">8ª Ano</option>


          </select>
          <div class="separator"></div>


          <label for="turno">Turno:</label>

          <select id="turno">
            <option value="manha">Matutino</option>
            <option value="tarde">Vespertino</option>
          </select>

      </div>




    </div>

    <button onclick="pesquisar()">
      <img src="assets/icons8-pesquisar-30.png" alt="Pesquisar">
    </button>
  </div>
</div>
