label {
  display: block;
  margin-bottom: 5px;

}

.enrolled-students-table {
  width: 70%;
  border-collapse: collapse;
  margin-top: 2px;
  margin-left: 200px;


}





.enrolled-students-table th,
.enrolled-students-table td {
  border: 1px solid #E7E7E7;
  padding: 10px;
  text-align: left;
  background-color: #fdfdfd;



}

.enrolled-students-table th {
  background-color: #f8f7f7;
  color: #000000;
  font-size: medium;


}

.enrolled-students-table tr:nth-child(even) {
  background-color: #f2f2f2;

}


