<div>
  <app-barra-pesquisa></app-barra-pesquisa>
</div>

<div class="gray-background">

<div class="container mt-4">
  <table class="enrolled-students-table">
      <thead>
          <tr>
              <th>Matrícula</th>
              <th>Série</th>
              <th>Turno</th>
          </tr>
      </thead>

      <tbody>

        <tr>
            <td>001</td>
            <td>2º ano</td>
            <td>Matutino</td>
        </tr>

        <tr>
            <td>002</td>
            <td>3º ano</td>
            <td>Vespertino</td>
        </tr>


        <tr>
            <td>003</td>
            <td>7º ano</td>
            <td>Vespertino</td>
        </tr>


        <tr>
            <td>004</td>
            <td>6º ano</td>
            <td>Matutino</td>
        </tr>

        <tr>
            <td>005</td>
            <td>5º ano</td>
            <td>Vespertino</td>
        </tr>


        <tr>
            <td>006</td>
            <td>4º ano</td>
            <td>Matutino</td>
        </tr>


        <tr>
            <td>007</td>
            <td>3º ano</td>
            <td>Matutino</td>
        </tr>


        <tr>
            <td>008</td>
            <td>2º ano</td>
            <td>Vespertino</td>
        </tr>
    </tbody>
  </table>
  </div>

  </div>




